* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 50px; 
  margin-bottom: 30px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

header h1 {
    font-size: 35px;
}

.container-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.item {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.item:hover {
  transform: scale(1.03);
}

figure img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info-product {
  padding: 15px;
  text-align: center;
}

button {
  background-color: #000;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #444;
}

.container-icon {
  position: relative;
}

.container-cart-icon {
  position: relative;
  cursor: pointer;
  display: flex; 
  align-items: center;
}

.icon-cart {
  width: 35px;
  height: 35px;
  stroke: #fff;
  fill: none;
}

.count-products {
  position: absolute;
  top: -5px; 
  right: -5px; 
  background-color: #fff; 
  color: #000;
  font-weight: bold;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: left;
}

.hidden-cart {
  display: none;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 16px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 16px;
}

.icon-close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: red;
}

.icon-close:hover {
  stroke: darkred;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  color: #000;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.btn-clear-all {
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

.cart-empty {
  padding: 20px;
  text-align: center;
  color: #333;
}